name: .NET 8 Deploy

env:
  PROJECT_NAME: ${{ github.repository }}

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x


      - name: Print PROJECT_NAME
        run: echo "PROJECT_NAME = $PROJECT_NAME"

      - name: Publish WebApi
        run: |
          dotnet publish -c Release -o publish -p:DebugType=None -p:DebugSymbols=false
          

      - name: Deploy to Server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "publish/*"
          target: "/service/$PROJECT_NAME"
          strip_components: 1

      - name: Restart service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            systemctl restart $PROJECT_NAME.service
